.container {
	display: block;
	margin: 0px auto;
}

#iview {
	display: block;
	width: 800px;
	background: #000;
	background: rgba(0, 0, 0, 1);
	padding: 5px;
	position: relative;
	margin: 40px auto;
	overflow: hidden;
	-webkit-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
}

#iview .iviewSlider {
	display: block;
	width: 800px;
	height: 90px;
	margin: 0px auto;
}

#iview2 {
	display: block;
	width: 300px;
	background: #000;
	background: rgba(0, 0, 0, 1);
	padding: 5px;
	position: relative;
	margin: 40px auto;
	overflow: hidden;
	-webkit-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
	box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);
}

#iview2 .iviewSlider {
	display: block;
	width: 300px;
	height: 600px;
	margin: 0px auto;
}

.iview div.iview-directionNav {
	position: absolute;
	top: 37%;
	left: 0px;
	z-index: 9;
	width: 100%;
}

#iview2 div.iview-directionNav {
	top: 49%;
}

.iview div.iview-directionNav a {
	display: block;
	cursor: pointer;
	position: absolute;
	width: 27px;
	height: 27px;
	background-image: url(../../assets/img/bg_direction_nav_white.png);
	text-indent: -9999px;
	-webkit-transition: left 0.3s ease-in-out;
	-webkit-transition-property: left,right;
	-moz-transition: left 0.3s ease-in-out;
	-moz-transition-property: left,right;
	-o-transition: left 0.3s ease-in-out;
	-o-transition-property: left,right;
	-ms-transition: left 0.3s ease-in-out;
	-ms-transition-property: left,right;
	transition: left 0.3s ease-in-out;
	transition-property: left,right;
}

.iview div.iview-directionNav a.iview-nextNav {
	right: -27px;
	background-position: 27px 0px;
}

.iview div.iview-directionNav a.iview-prevNav {
	left: -27px;
	background-position: 0px 0px
}

.iview.iview-hover div.iview-directionNav a.iview-nextNav {
	right: 20px;
}

.iview.iview-hover div.iview-directionNav a.iview-prevNav {
	left: 20px;
}

#iview2 .iview-controlNav {
	position: absolute;
	bottom: 30px;
	left: 133px;
}

#iview2 .iview-controlNav a {
	text-indent: -9999px;
}

#iview2 .iview-controlNav a.iview-control {
	padding: 0px;
	float: left;
	width: 11px;
	height: 11px;
	background: url('../../img/bullets_2.png') no-repeat 0px 0px;
	line-height: 0px;
	margin-right: 7px;
}

#iview2 .iview-controlNav a.iview-control.active {
	background-position: 0px -11px;
}

.iview-caption {
	background: url('../../img/caption-bg.png');
	color: #FFF;
	border-radius: 3px;
	padding: 10px 15px;
	font-family: Verdana;
	font-size: 12px;
	text-shadow: #000 1px 1px 0px;
}

.iview-caption.caption1 {
	text-shadow: none;
}

.iview-caption.caption2 {
	background: #FFF;
	color: #000;
	text-shadow: none;
}

.iview-caption.caption3 {
	background: #c4302b;
	box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 15px 0px;
	text-shadow: none;
}

#iview-preloader {
	border: #666 1px solid;
	width: 150px
}

#iview-preloader div {
	background: #666;
}
#iview-timer {
	border-radius: 10px;
}

#iview-timer div {
	border-radius: 10px;
}